---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Button } from "@/components/ui/button";
import { ChevronRight } from "lucide-astro";
import { ButtonWithIcon } from "@/components/ButtonWithIcon";
import Navbar from "@/components/Navbar";
---

<Layout title="Welcome to Astro.">
  <Navbar client:load />
  <main class="container mx-auto max-w-7xl px-6 flex-grow">
    <section class="flex flex-col items-center justify-center">

    </section>

  </main>
</Layout>
