---
import { cn } from "@/lib/utils"; // Import utility if you're using shadcn classes

import svgReference from '/static/icons/github.svg'; // svgReference === '/src/image.svg'

const socialLinks = [
  { href: "https://bsky.app/profile/ishadeed.com", title: "BlueSky", icon: "bsky.svg" },
  { href: "https://twitter.com/shadeed9", title: "X", icon: "twitter.svg" },
  { href: "https://front-end.social/@shadeed9", title: "Mastodon", icon: "mastodon.svg" },
  { href: "https://codepen.io/shadeed/", title: "Codepen", icon: "codepen.svg" },
  { href: "https://github.com/shadeed", title: "GitHub", icon: "github.svg" },
];
---

<footer class="c-footer bg-slate-600 py-8">
  <div class="wrapper flex flex-col items-center">
    <nav class="c-nav mb-4">
      <ul class="flex space-x-4">
        <li><a href="/" class="text-sm text-gray-700 hover:text-blue-500">Home</a></li>
        <li><a href="/articles" class="text-sm text-gray-700 hover:text-blue-500">Articles</a></li>
        <li><a href="/work" class="text-sm text-gray-700 hover:text-blue-500">Work</a></li>
        <li><a href="/services" class="text-sm text-gray-700 hover:text-blue-500">Services</a></li>
        <li><a href="/about" class="text-sm text-gray-700 hover:text-blue-500">About</a></li>
        <li><a href="/speaking" class="text-sm text-gray-700 hover:text-blue-500">Speaking</a></li>
        <li><a href="/contact" class="text-sm text-gray-700 hover:text-blue-500">Contact</a></li>
      </ul>
    </nav>

    <div class="social-links flex space-x-4" bg-red>
      {socialLinks.map(link => (
        <a href={link.href} target="_blank" aria-label={link.title}>
          <img src={'/static/icons/github.svg'} alt={link.title} class="w-8 h-8" />
        </a>
      ))}
    </div>
  </div>
</footer>
